

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	
	background-color: #f1f1f1;
}
.header h1{
	display: inline-block;
}
h3{
	color: red;
}








